# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore

.git
.gitignore
#!include:.gitignore

# The following directories created themselves with a `.gitignore` that ignores
# all of their contents. So git ignores them. But gcloud doesn't, since it's
# only looking at the `.gitignore` that is included above
.mypy_cache/
.pytest_cache/
