# Python
__pycache__/
/venv/

# PyCharm
/.idea/

# Flask
/instance/

# Node
/node_modules/

# Firebase
## Downloaded binary
/firebase
## From Firestore emulator
firebase-debug.log
firestore-debug.log
ui-debug.log

# Terraform
/.terraform/
/*.tfstate*
/*.tfvars

# Misc
## Vim swap files
*.sw[a-p]
